<a href="/recipes/{{id}}" class="recipe">
  <img src="/{{src}}" alt="{{alt}}" class="recipeImage" width="150px" height="150px">
  <div class="recipeDesc">
    <h2 class="recipeName">{{name}}</h2>
    <p>{{desc}}</p>
  </div>
</a>