<div class="leftSpacer"></div>

{{>header}}
<div class="container">
  <div class="team-members">
    {{#each teamMembers}}
    <div class="team-member">
      <h3>{{role}} : {{name}}</h3>
      <img src={{src}} alt={{alt}} width="150" height="150">
      <p>Email: <a class="no-style" href="mailto:{{email}}">{{email}}</a></p>
    </div>
    {{/each}}

  </div>

</div>
{{>footer}}
<div class="rightSpacer"></div>