<div class="spacer"></div>
<div class="page">
  {{>navbar}}
  <div class="container">
    <header>Recipes {{fName}}</header>
    <div class="recipe">
        <img src="{{src1}}" alt="{{alt1}}">
        <div>{{desc1}}</div>
    </div>
    <div class="recipe">
        <img src="{{src2}}" alt="{{alt2}}">
        <div>{{desc2}}</div>
    </div>
  </div>
  {{>footer}}
</div>
<div class="spacer"></div>
