<div class="leftSpacer"></div>
{{>header}}

<div class="container">

	<div class="searchmsg">
		{{#if isLoggedIn}}
		<h2>Showing available recipes for <b>{{university}}</b></h2>
		{{else}}
		<h2>Showing all recipes. <b>LOG IN</b> to see results based on your university!</h2>
		{{/if}}
	
		{{#if noResults}}
		<h3>No recipes available with current parameters. Try these instead!</h3>
		{{/if}}
	</div>

	<div class="refinedSearch">
		<h1>Refined Search</h1>
		<form action="/recipes" id="refinedSearch" method="get">

			<!-- HIDDEN ATTRIBUTES -->
			<input type="hidden" name="searchInput" value="{{searchInput}}">
			<!-- For preserving the search input from that other form -->
			<!-- END HIDDEN ATTRIBUTES -->

			{{#each dropdownFilters.checkbox_option}}
			<p><input type="checkbox" class="dropdown_option" name="{{this}}">{{this}}</p>
			{{/each}}
			{{#each dropdownFilters.radio_option}}
			<p><input type="radio" class="dropdown_option" name="sort" value="{{this}}">{{this}}</p>
			{{/each}}

			<input type="submit" class="applyfiltersbutton" value="Apply Filters">
		</form>
	</div>

	<div class="recipes">
		{{#if recipe}}
		{{#each recipe}}
		{{>partial_recipe this}}
		{{/each}}
		{{else}}
		<p>No recipes available.</p>
		{{/if}}
	</div>
</div>
{{>footer}}
<div class="rightSpacer"></div>